body {
  background-color: lightblue;
}

.container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid wheat;
  position: relative;
}
.container .dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  transform-origin: center 105px;
  perspective: 70px;
  transform-style: preserve-3d;
}
.container .dot:nth-child(1) {
  transform: rotate(0deg);
}
.container .dot:nth-child(1)::before, .container .dot:nth-child(1)::after {
  animation-delay: -0.2777777778s;
}
.container .dot:nth-child(2) {
  transform: rotate(10deg);
}
.container .dot:nth-child(2)::before, .container .dot:nth-child(2)::after {
  animation-delay: -0.5555555556s;
}
.container .dot:nth-child(3) {
  transform: rotate(20deg);
}
.container .dot:nth-child(3)::before, .container .dot:nth-child(3)::after {
  animation-delay: -0.8333333333s;
}
.container .dot:nth-child(4) {
  transform: rotate(30deg);
}
.container .dot:nth-child(4)::before, .container .dot:nth-child(4)::after {
  animation-delay: -1.1111111111s;
}
.container .dot:nth-child(5) {
  transform: rotate(40deg);
}
.container .dot:nth-child(5)::before, .container .dot:nth-child(5)::after {
  animation-delay: -1.3888888889s;
}
.container .dot:nth-child(6) {
  transform: rotate(50deg);
}
.container .dot:nth-child(6)::before, .container .dot:nth-child(6)::after {
  animation-delay: -1.6666666667s;
}
.container .dot:nth-child(7) {
  transform: rotate(60deg);
}
.container .dot:nth-child(7)::before, .container .dot:nth-child(7)::after {
  animation-delay: -1.9444444444s;
}
.container .dot:nth-child(8) {
  transform: rotate(70deg);
}
.container .dot:nth-child(8)::before, .container .dot:nth-child(8)::after {
  animation-delay: -2.2222222222s;
}
.container .dot:nth-child(9) {
  transform: rotate(80deg);
}
.container .dot:nth-child(9)::before, .container .dot:nth-child(9)::after {
  animation-delay: -2.5s;
}
.container .dot:nth-child(10) {
  transform: rotate(90deg);
}
.container .dot:nth-child(10)::before, .container .dot:nth-child(10)::after {
  animation-delay: -2.7777777778s;
}
.container .dot:nth-child(11) {
  transform: rotate(100deg);
}
.container .dot:nth-child(11)::before, .container .dot:nth-child(11)::after {
  animation-delay: -3.0555555556s;
}
.container .dot:nth-child(12) {
  transform: rotate(110deg);
}
.container .dot:nth-child(12)::before, .container .dot:nth-child(12)::after {
  animation-delay: -3.3333333333s;
}
.container .dot:nth-child(13) {
  transform: rotate(120deg);
}
.container .dot:nth-child(13)::before, .container .dot:nth-child(13)::after {
  animation-delay: -3.6111111111s;
}
.container .dot:nth-child(14) {
  transform: rotate(130deg);
}
.container .dot:nth-child(14)::before, .container .dot:nth-child(14)::after {
  animation-delay: -3.8888888889s;
}
.container .dot:nth-child(15) {
  transform: rotate(140deg);
}
.container .dot:nth-child(15)::before, .container .dot:nth-child(15)::after {
  animation-delay: -4.1666666667s;
}
.container .dot:nth-child(16) {
  transform: rotate(150deg);
}
.container .dot:nth-child(16)::before, .container .dot:nth-child(16)::after {
  animation-delay: -4.4444444444s;
}
.container .dot:nth-child(17) {
  transform: rotate(160deg);
}
.container .dot:nth-child(17)::before, .container .dot:nth-child(17)::after {
  animation-delay: -4.7222222222s;
}
.container .dot:nth-child(18) {
  transform: rotate(170deg);
}
.container .dot:nth-child(18)::before, .container .dot:nth-child(18)::after {
  animation-delay: -5s;
}
.container .dot:nth-child(19) {
  transform: rotate(180deg);
}
.container .dot:nth-child(19)::before, .container .dot:nth-child(19)::after {
  animation-delay: -5.2777777778s;
}
.container .dot:nth-child(20) {
  transform: rotate(190deg);
}
.container .dot:nth-child(20)::before, .container .dot:nth-child(20)::after {
  animation-delay: -5.5555555556s;
}
.container .dot:nth-child(21) {
  transform: rotate(200deg);
}
.container .dot:nth-child(21)::before, .container .dot:nth-child(21)::after {
  animation-delay: -5.8333333333s;
}
.container .dot:nth-child(22) {
  transform: rotate(210deg);
}
.container .dot:nth-child(22)::before, .container .dot:nth-child(22)::after {
  animation-delay: -6.1111111111s;
}
.container .dot:nth-child(23) {
  transform: rotate(220deg);
}
.container .dot:nth-child(23)::before, .container .dot:nth-child(23)::after {
  animation-delay: -6.3888888889s;
}
.container .dot:nth-child(24) {
  transform: rotate(230deg);
}
.container .dot:nth-child(24)::before, .container .dot:nth-child(24)::after {
  animation-delay: -6.6666666667s;
}
.container .dot:nth-child(25) {
  transform: rotate(240deg);
}
.container .dot:nth-child(25)::before, .container .dot:nth-child(25)::after {
  animation-delay: -6.9444444444s;
}
.container .dot:nth-child(26) {
  transform: rotate(250deg);
}
.container .dot:nth-child(26)::before, .container .dot:nth-child(26)::after {
  animation-delay: -7.2222222222s;
}
.container .dot:nth-child(27) {
  transform: rotate(260deg);
}
.container .dot:nth-child(27)::before, .container .dot:nth-child(27)::after {
  animation-delay: -7.5s;
}
.container .dot:nth-child(28) {
  transform: rotate(270deg);
}
.container .dot:nth-child(28)::before, .container .dot:nth-child(28)::after {
  animation-delay: -7.7777777778s;
}
.container .dot:nth-child(29) {
  transform: rotate(280deg);
}
.container .dot:nth-child(29)::before, .container .dot:nth-child(29)::after {
  animation-delay: -8.0555555556s;
}
.container .dot:nth-child(30) {
  transform: rotate(290deg);
}
.container .dot:nth-child(30)::before, .container .dot:nth-child(30)::after {
  animation-delay: -8.3333333333s;
}
.container .dot:nth-child(31) {
  transform: rotate(300deg);
}
.container .dot:nth-child(31)::before, .container .dot:nth-child(31)::after {
  animation-delay: -8.6111111111s;
}
.container .dot:nth-child(32) {
  transform: rotate(310deg);
}
.container .dot:nth-child(32)::before, .container .dot:nth-child(32)::after {
  animation-delay: -8.8888888889s;
}
.container .dot:nth-child(33) {
  transform: rotate(320deg);
}
.container .dot:nth-child(33)::before, .container .dot:nth-child(33)::after {
  animation-delay: -9.1666666667s;
}
.container .dot:nth-child(34) {
  transform: rotate(330deg);
}
.container .dot:nth-child(34)::before, .container .dot:nth-child(34)::after {
  animation-delay: -9.4444444444s;
}
.container .dot:nth-child(35) {
  transform: rotate(340deg);
}
.container .dot:nth-child(35)::before, .container .dot:nth-child(35)::after {
  animation-delay: -9.7222222222s;
}
.container .dot:nth-child(36) {
  transform: rotate(350deg);
}
.container .dot:nth-child(36)::before, .container .dot:nth-child(36)::after {
  animation-delay: -10s;
}
.container .dot::before, .container .dot::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
.container .dot::before {
  background-color: black;
  top: -100%;
  animation: rotate-black 2s infinite;
}
@keyframes rotate-black {
  0% {
    animation-timing-function: ease-in;
  }
  25% {
    transform: translate3D(0, 100%, 10px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate3D(0, 200%, 0);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate3D(0, 100%, 10px);
    animation-timing-function: ease-out;
  }
}
.container .dot::after {
  background-color: white;
  top: 100%;
  animation: rotate-white 2s infinite;
}
@keyframes rotate-white {
  0% {
    animation-timing-function: ease-in;
  }
  25% {
    transform: translate3D(0, -100%, -10px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate3D(0, -200%, 0);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate3D(0, -100%, 10px);
    animation-timing-function: ease-out;
  }
}

/*# sourceMappingURL=index.css.map */
